<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/clienti">Clienti</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/masini">Masini</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/garantii">Garantii</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/vanzari">Vanzari</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="/tip_garantii">Tipuri de garantii</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="titlu">
        {% block clienti %} {% endblock %}
        {% block masini %} {% endblock %}
        {% block garantii %} {% endblock %}
        {% block vanzari %} {% endblock %}
        {% block tip_garantii %} {% endblock %}
        {% block welcome %} {% endblock %}
    </div>
</head>
<body>

    <div class="corp">
        {% block clienti_content %} {% endblock %}
        {% block masini_content %} {% endblock %}
        {% block garantii_content %} {% endblock %}
        {% block vanzari_content %} {% endblock %}
        {% block tip_garantii_content %} {% endblock %}
        {% block welcome_content %} {% endblock %}
    </div>

</body>
</html>